<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons' rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui" />
    <link rel="icon" href="https://www.google.com/url?sa=i&source=images&cd=&ved=2ahUKEwj-scPloo3mAhVNa1AKHanPD-AQjRx6BAgBEAQ&url=https%3A%2F%2Fwww.youtube.com%2Fchannel%2FUCEJmmMLvmYJpkB2MOKiR1ug&psig=AOvVaw3jui73l4j2EzlIy-UsypQD&ust=1575043065575873" sizes="16x16" />
    <title>Email</title>
</head>
<body>
<div id="app"></div>
<!--/*@thymesVar id="isDevMode" type=""*/-->
<script th:src="${isDevMode} ? 'http://localhost:8026/main.js' : '/dist/main.js'"></script>
<!--<script src="/dist/main.js"></script>-->
</body>
</html>